* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("BG.jpg")
}

.hero {
    height: 250px;
    width: 50vw;
    border: 2px solid;
    border-radius: 15px;
    background-color: white; /* Optional: Add a background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for better visuals */
}

.ip {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    gap: 20px;
}

.op {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}
